*{
  margin: 0;
  padding: 0;

}

.main {
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(1.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.navbar {
  width: 1200px;
  height: 75px;
  margin: auto;
}

.icon{
  width: 800px;
  float: left;
  height: 70px;
}

.logo {
  color: #ff7200;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  float: left;
  padding-top: 20px;
  text-decoration: solid;

}

.menu{
  width: 1200px;
  float: left;
  height: 70px;

}

ul{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li{
  list-style: none;
  margin-left: 70px;
  margin-top: 27px;
  font-size: 14px;
}

ul li a{
text-decoration: none;
color:white;
font-family: Arial;
font-weight: bold;
transition: 0.4s ease-in-out;
}


ul li a:hover {
  color: #ff7200;
}

.search{
  width: 330px;
  float: left;
  margin-left: 870px;

}

.srch{
  font-family: 'Times New Roman';
  width: 200px;
  height: 40px;
  background: transparent;
  border: 1px solid #ff7200;
  margin-top: 13px;
  color: #fff;
  border-right: none;
  font-size: 16px;
  float: left;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.btn{
  width: 100px;
  height: 40px;
  background: #ff7200;
  border: 2px solid #ff7200;
  margin-top: 13px;
  color: #fff;
  font-size: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.2s ease;
  cursor: pointer;
}

.btn:hover{
  color: #000;
}

.btn:focus{
  outline: none;
}

.srch:focus{
  outline: none;
}

.abt {
position: absolute;
margin: 0%;
padding: 0%;
color: #fff;
left: 25%;
top: 30%;
text-decoration: solid;
letter-spacing: 3px;



}

.content {
position: absolute;
margin: 0%;
padding: 0%;
color: #fff;
left: 5%;
top: 40%;
line-height: 20px;
font-family: Arial;
text-align: justify;
text-decoration: solid;
letter-spacing: 2px;
}
.Papers {
  position: absolute;
  color: #fff;
  left: 5%;
  top: 58%;
  line-height: 20px;
  font-family: Arial;
  text-align: justify;
  text-decoration: solid;
  letter-spacing: 2px;
  }

  .Education {
    position: absolute;
    color: #fff;
    left: 5%;
    top: 65%;
    line-height: 20px;
    font-family: Arial;
    text-align: justify;
    text-decoration: solid;
    letter-spacing: 2px;
    }

  .Post {
    margin-top: 10px;
  }

  .MSc {
    margin-top: 20px;
  }

  .BSc {
    margin-top: 20px;
  }
  
.Display-image{
  float: right;
  margin-top: 3%;
  margin-right: 5%;
  border-radius: 2px;
  border: 2px solid #ff7200;
  border-radius: 12px;
  padding: 5px;
  background-color:none;

}
.mail {
  float: left;
  padding-top: 450px;
  margin-left: 200px;
  padding-bottom: 40px;
}

.mail img {
  margin-bottom: 10px;
  padding-left: 80px;


}

.mail p.Email {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  padding-right: 10px;
}

.mail a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s ease-in-out;
}

.mail a:hover {
  color: #0056b3;
}
